#borda {
    border-radius: 15px 50px;
	background-position: center;
	background-repeat: repeat;
	padding: 0px; 
	border: 0px;
} 

#botao{
    background-color: white; 
    border: 3px solid #3a5ca8;
    color: black;
    font-stretch: 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;	
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}